.content-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.content {
  width: 50%;
}

.results {
  display: flex;
  flex-direction: column;
}

.action {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.action button {
  min-width: 60px;
}

.description {
  margin: 10px 0;
  max-height: 150px;
  overflow-y: auto;
}