.content-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
}

@media(max-width: 1279px) {
  .content {
    flex-direction: column;
  }
}

.content > div {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.task-info {
  display: flex;
  flex-direction: column;
}

.action {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.action button {
  min-width: 60px;
}